# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dykjfw_2025\dykjfw_2025\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
